/* You can add global styles to this file, and also import other style files */
html,
body {
    height: 100%;
}

body {
    background-color: #272626;
    color: white;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 26px;

    
}

.content-container {
    padding: 16px;

    max-width: 450px;
    width: 100%;
}